.App{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin: 35px 35px;
}

#searchbar{
  display: flex;
  margin-bottom: 10px; 
}

#image-gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.image-card{
	margin: 10px;
}

.image-card > img{
	width: 100%; 
  height: auto; 
}
